In [1]:
sal=input("What is your Salary ")

What is your Salary 23.5

In [2]:
sal

'23.5'

In [3]:
sal+1  # SAL IS DEFINED AS STRING BY CALLING IT AS A PART OF STRING DURING INPUT

TypeError: must be str, not int

In [4]:
sal_1 = float(input("what's ur salary ?"))

what's ur salary ?67.5

In [5]:
sal_1

67.5

In [7]:
sal_1 + 30

97.5

In [9]:
print('abc' + '123')

abc123

In [16]:
print('hi'*10)
print("hi \" ' "* 5)
print('hi\'\"' * 5)

hihihihihihihihihihi
hi " ' hi " ' hi " ' hi " ' hi " '
hi'"hi'"hi'"hi'"hi'"

In [11]:
print('hi \n' * 10)
print('hi \t' * 10)

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

hi 	hi 	hi 	hi 	hi 	hi 	hi 	hi 	hi 	hi

In [18]:
print("\" is a double quote")

" is a double quote

In [19]:
hours=35.0
rate=12.50
pay = hours * rate
print(pay)

437.5

In [22]:
hours=float(input("How many hours did you work ? -->   "))
rate=float(input("What is the rate per hour ? -->   "))
pay = hours * rate
print(pay)

How many hours did you work ? -->   234
What is the rate per hour ? -->   23
5382.0

In [27]:
first="Cloudx"
second="Lab"
final=first+second
print(final)

'''fnl = first*second
print(fnl) '''

CloudxLab

'fnl = first*second\nprint(fnl) '

In [30]:
x = int(input("x:  "))
if x==5:
    print("equals 5")
    print(" which is = 2 + 3 ")

print("Something")

# Comparison Operators

if x == 5 : 
    print ('Equals 5')
if x > 4 : 
   print ('Greater than 4')
if  x >= 5 :
    print ('Greater than or Equals 5')
if x < 6 : 
    print ('Less than 6')
if x <= 5 :
    print ('Less than or Equals 5')
if x != 6 :
    print ('Not equal 6')

x:  5
equals 5
 which is = 2 + 3
Something
Equals 5
Greater than 4
Greater than or Equals 5
Less than 6
Less than or Equals 5
Not equal 6

In [32]:
x=5
if x > 2:
    print("Bigger than 2")
    print("Stil Biffer")
    
    
for i in range(5):
    print(i)
    if i>2:
        print('Bigger than 2')
    print('Done with i',i)
print('All Dne')

Bigger than 2
Stil Biffer
0
Done with i 0
1
Done with i 1
2
Done with i 2
3
Bigger than 2
Done with i 3
4
Bigger than 2
Done with i 4
All Dne

### 2 Way Decissions

In [34]:
x = float(input('Enter X:  '))
if x>2 :
    print('Bigger')
else :
    print('Not Bigger')
print('All Done !!')

Enter X:  88
Bigger
All Done !!

In [35]:
x = float(input('Enter X:  '))
print(x)
if(x>400):
    print("Huge")
elif x >10 and x<100 :
    print('Big')
else:
    print('Small')
print("All Done !!")

Enter X:  99
99.0
Big
All Done !!

## Try and Except Structure
### Surround Dangerous code by try and except 
### if code in try works - the except is skipped 
### if code in try fails - it jumps to except

In [38]:
try:
    rate = float(input("Enter Number :  "))
except:
    print('Enter the valid numerical value , This is your last change ')
    rate = float(input("Enter Number :  "))

Enter Number :  efsfsdf
Enter the valid numerical value , This is your last change
Enter Number :  nimma mane

ValueError: could not convert string to float: 'nimma mane'

In [39]:
try:
    rate = float(input("Enter Number :  "))
except:
    print('Enter the valid numerical value , This is your last change ')
    rate = float(input("Enter Number :  "))

Enter Number :  3sdf
Enter the valid numerical value , This is your last change
Enter Number :  44

In [44]:
hours = float(input("Enter Hours for week   "))
Rate = float(input("Enter the Rate  "))

if hours > 40:
    pay = (40* Rate) + ((hours-40) * Rate * 1.5)
    print("You are doing Over time, Take some rest")
else :
    pay=hours * Rate

print("Total Pay is ", pay)

Enter Hours for week   45
Enter the Rate  10
You are doing Over time, Take some rest
Total Pay is  475.0

## Functions 

Function can take arguments
Function Can Call other Functions 
Function can call the same function

In [45]:
print(max('Hello world'))

w

In [1]:
n=float(input("Enter a number :  "))
while n >0:
    n=n-1
    print(n)
print("Ignitions GO!!")
print("You have a Take Off ")

Enter a number :  9
8.0
7.0
6.0
5.0
4.0
3.0
2.0
1.0
0.0
Ignitions GO!!
You have a Take Off

In [3]:
n=5
#while n>0:
    print("Lather")
    print("Rinse")
print("Dry Off")

IndentationError: unexpected indent (<ipython-input-3-85ecf1879381>, line 3)

# Breaking Out of Loop 

## break statement is used

In [ ]:
while True:
    line = input("Enter a Numeric")
    if type(line) == 'int':
        break
    print(line)
print("Done!")

Enter a Numericef
ef
Enter a Numeric3
3
Enter a Numeric34
34
Enter a Numeric123
123
Enter a Numericint
int

In [ ]:
line = input("Enter a Numeric")
type(line)

In [ ]:
while True:
    line = input("Can you write done")
    if type(line) == 'done':
        break
        
    while True:
        name = input("... ")
        break
        if name == "":
            break
            
    print(line)
print("Done!")

### Finishing an Iteration with Continue
# continue 
### continues skipping rest of line in the rest of iteration and jumps to top of loop and begin next iteration

In [ ]:
while True:
    line = input('> ')
    if line[0] == '#' : 
        continue
    if line == 'done' :
        break
    print (line)
print ('Done!')

In [1]:
x=[1,2,3,4]

In [2]:
type(x)

list

In [4]:
for countdown in [5, 4, 3, 2, 1]:
    n = countdown
    while n > 0:
        print(".")
        n = n - 1
    print(countdown)
print("Blastoff")

.
.
.
.
.
5
.
.
.
.
4
.
.
.
3
.
.
2
.
1
Blastoff

In [7]:
x = ["apple", "banana", "eggs"]
x

['apple', 'banana', 'eggs']

In [8]:
x[1] = "Banana"
x.append("cereal")
x.sort()
print(x.reverse())
print(x)

dir(x) # list of functions on objects

None
['eggs', 'cereal', 'apple', 'Banana']

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [10]:
l = [3,41,12,9,74,15]
max(l)

74

In [27]:
# find largest number

m=-99999999999999
for i in l:
    if i > m:
        m=i
        print( m, "  prev" , i)
        

print(m)

3   prev 3
41   prev 41
74   prev 74
74

In [19]:
cnt = 0
csum = 0 
cavg = 0
print("Before")
print("Count, Sum, Avg")
for i in l :
    cnt = cnt + 1 
    csum = csum+i
    cavg = csum/cnt
    print(cnt, csum,cavg)

print("After" ,cnt, csum,cavg )

Before
Count, Sum, Avg
1 3 3.0
2 44 22.0
3 56 18.666666666666668
4 65 16.25
5 139 27.8
6 154 25.666666666666668
After 6 154 25.666666666666668

In [ ]:
for i in l:
    if i > l:

'''
You are given stock values in an array (365 values) of one year: 
[3, 1.5, 6, 7, 1] 

You can only buy once and then sell once.
You need to find the max profit you can make.

'''